<h1 class="about_header">Want trail variety?</h1>
<p>If you are bored of running your same routes over and over again and want to change it up, then you have come to the right place. This app will take you all around SLC and show you what you could be running!</p>
