// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_header {
	font-family: sans-serif;
	color: blue;
}

.contact_header {
	font-family: sans-serif;
	color: red;
}

.about_header {
	font-family: sans-serif;
	color: green;
}
.navbar {
	background-color: black;
}

.panel {
	margin-bottom: 0;
}